body{
    padding: 0;
    margin: 0;
    background-color: aliceblue;
}
.brand{
    text-align: center;
    border-bottom: 2px black solid;
}
table{
    width: 100%;
}
th{
    text-align: center;
    padding: 2vh;
    background-color: black;
    color: white;
    border-radius: 10px;
}
td{
    text-align: center;
    padding: 2vh;
    background-color: bisque;
    border-radius: 10px;
}
form{
    background-color: rgba(205, 92, 92, 0.734);
    padding: 5%;
    border-radius: 20px;
    margin: 2% 5%;
}
.container{
    padding: 2%;
    margin: 2%;
    border-radius: 20px;
}
.principal{
    width: 50%;
    padding: 1vh;
    border-radius: 5px;
}
.date{
    width: 50%;
    padding: 1vh;
    border-radius: 5px;
}
.submit{
    display: block;
    background-color: #4BB543;
    color: white;
    padding: 1vh 3vw;
    border-radius: 5px;
    margin: 0 auto;
}
